.mine-sweeper-table {
  line-height: 0px;
}
.cell {
  float: left;
  line-height: 40px;
  text-align: center;
  width: 31px;
  height: 40px;
  border: 1px solid silver;
}
.clear { 
  clear: left;
}
.tool-wrapper {
  margin-bottom:30px;
}