$cell-size: 40px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mine-sweeper-table {
  line-height: 0px;
}
.board-wrapper {
  width: fit-content;
  margin: auto;
}
.cell-wrapper {
  position: relative;
  display: inline-block;
}


.cell-wrapper .cell {
  width: $cell-size;
  height: $cell-size;
  float: left;
  line-height: $cell-size;
  text-align: center;
  border: 0.3px solid silver;
  background-color: white;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,0.1);
    opacity: 0.9;
  }
  &.bomb {
    background-image: url('https://img.icons8.com/emoji/48/000000/bomb-emoji.png');
    background-color: rgba(255, 0, 0, 0.15) !important;
  }
  &.opened {
    background-color: rgba(0, 128, 0, 0.15);
    float: left;
  }
  &.flaged {
    background-image: url('https://img.icons8.com/office/40/000000/filled-flag.png');
  }
}
.clear { 
  clear: left;
}
.tool-wrapper {
  text-align: center;
  margin-bottom:30px;
}
