body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mine-sweeper-table {
  line-height: 0px;
}
.cell {
  float: left;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid silver;
  &.bomb {
    background-image: url('../images/bomb.png');
    background-position: center;
    background-size: cover;
  }
}
.clear { 
  clear: left;
}
.tool-wrapper {
  margin-bottom:30px;
}